<h2>Map Generator</h2>

<div class='form'>
  <div class='form__control'>
    <label>
      Width
      <input min='2' max='20' type="number" [(ngModel)]='mapSize.width'>
    </label>
  </div>

  <div class='form__control'>
    <label>
      Height
      <input min='2' max='20' type="number" [(ngModel)]='mapSize.height'>
    </label>
  </div>

  <div class='form__control'>
    <label>
      Ratio
      <input min='0.1' step='0.1' max='0.9' type="number" [(ngModel)]='freeToBlockedRatio'>
    </label>
  </div>

  <button class='button' (click)='mapGenClicked()'>Generate</button>
</div>

<div class='map' [innerHTML]='selectedMap | map'></div>

<div>
  <button class='button' (click)='copyToClipboard()'>Copy to clipboard</button>
</div>

<div class='maps'>
  <h3 class='maps__header'>Generated Maps</h3>
  <ul class='maps__list'>
    <li *ngFor='let map of maps' (click)='selectMap(map)' [class.maps__list-item--selected]='map === selectedMap' class='maps__list-item'>
      {{map.time}} - ({{map.size.width}} x {{map.size.height}}, {{map.ratio}})
    </li>
  </ul>
</div>
